    body {border: solid 2px red;}
    h2 {border: solid 2px pink;}
    div {border: solid 2px blue;}
    header {border: solid 2px green;}
    li {border: solid 2px yellow;}
    ul {border: solid 2px purple;}
    footer {border: solid 2px lightblue;}

    /* GENERAL */
    
:root {
    
        --h2size: 60px;
        --navlink-fs: 20px;
        --footer-fs:25px;
        
         /*margin generale*/
        --marge-laterale: 5vh;
        --marge-bottom-up: 2vh; 

        /*margin main button*/
        --marge-main-but: 10em;

        /*rose*/
        --couleur1-h: 0;
        --couleur1-s: 67%;
        --couleur1-l: 74%;
        --couleur1-nominale: hsl(var(--couleur1-h), var(--couleur1-s), var(--couleur1-l));
        --couleur1-hover: hsl(var(--couleur1-h), var(--couleur1-s), calc(var(--couleur1-l)*1.2));
        /*almond*/
        --couleur2-h: 34;
        --couleur2-s: 78%;
        --couleur2-l: 91%;
        --couleur2-nominale: hsl(var(--couleur2-h), var(--couleur2-s), var(--couleur2-l));
        --couleur2-hover: hsl(var(--couleur2-h), var(--couleur2-s), calc(var(--couleur2-l)*1.2));
        /*or*/
        --couleur3-h: 43;
        --couleur3-s: 89%;
        --couleur3-l: 38%;
        --couleur3-nominale: hsl(var(--couleur3-h), var(--couleur3-s), var(--couleur3-l));
        --couleur3-hover: hsl(var(--couleur3-h), var(--couleur3-s), calc(var(--couleur3-l)*1.2));
        /*turquoise*/
        --couleur4-h: 179;
        --couleur4-s: 97%;
        --couleur4-l: 26%;
        --couleur4-nominale: hsl(var(--couleur4-h), var(--couleur4-s), var(--couleur4-l));
        --couleur4-hover: hsl(var(--couleur4-h), var(--couleur4-s), calc(var(--couleur4-l)*1.2));
        /*gris*/
        --couleur5-h: 233;
        --couleur5-s: 11%;
        --couleur5-l: 54%;
        --couleur5-nominale: hsl(var(--couleur5-h), var(--couleur5-s), var(--couleur5-l));
        --couleur5-hover: hsl(var(--couleur5-h), var(--couleur5-s), calc(var(--couleur5-l)*1.2));

        /*font*/
        --Ubuntu: 'Ubuntu';
}
    
    /*calc*/
    
    body {
        display:flex;
        flex-direction: column;
        font-family: var(--Ubuntu);
        background-color: var(--couleur2-nominale);
    }

    main div{
        display:flex;
        flex-direction: column;
    }

    h2 {
        color: black;
        font-size: var(--h2size);
        text-shadow: 3px 3px rgb(228, 220, 220);
        padding: 0.5em;
    }

    h4 {
        font-size: 24px;
        font-family: 'Ubuntu';
        color: darkgreen;
    }
    
    p {
        font-size: 18px;
        color: var(--couleur4-nominale);
        font-family:'Ubuntu';
    }
    
    ul {
        list-style: none;
    }
    
    a {
        text-decoration: none;
    }

    /* HEADER */
    
    header {
        display: flex;
        flex-direction: column;
        background-color: var(--couleur1-nominale) ;
        text-align:center;
        
       
    }
    
    .logo {

    }
    

/*MENU NAVIGATION HEADER*/

    header nav ul {
        display: flex;
        background-color:var(--couleur3-nominale);
        padding-left: 0px;
        margin-bottom: 0px;
       
    }

    header nav ul li {
        font-size: var( --navlink-fs);
        flex-grow:1;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    header nav ul li:hover{
        background-color: var(--couleur1-nominale);
    }


    header nav ul li a {
        text-transform: uppercase;
        color:hsl(var(--couleur2-h), var(--couleur2-s), calc(var(--couleur2-l)*1.5));
        padding-right:1em;
    }

    header nav ul li a:visited{
        color: var(--couleur2-nominale);
    
    }

    header nav ul li a:active{
        color: black;
    }

.nav-logo{

    width:2em;
    padding-right:0.8em;
    vertical-align: middle;

}

    .nav_link:hover {

    }
    
    /*Main*/
    
    #main-image {
        background: url('image/yoga%20smoothie.jpg') no-repeat;
        background-position: top;
    }
    
    .button-1 {
        width: 180px;
        height: 50px;
        background-color: var(--couleur1-nominale);
        text-transform: uppercase;
        font-size: 20px;
        border-radius: 5px;
        margin: var(--marge-main-but);
    }

    .button-1:hover {

    }


    /* FOOTER */
    footer{

        display:flex;
        flex-direction: column;
        background-color:var(--couleur2-nominale);
    }

    .reseaux_sociaux{
        background-color:var(--couleur5-nominale);
    }

    footer div ul{
        display:flex;
        background-color:var(--couleur5-nominale);
        padding:0px;
        margin:0px;
        justify-content: center;
        
    }

    footer div ul li{
        flex-wrap: wrap;
    }

    footer p{
        color: var(--couleur2-nominale);
        font-size: var(--footer-fs);
        font-weight: lighter;
        padding-left: 1em;
    }

    footer p::first-letter{
        font-size: calc(var(--footer-fs)*1.5);
    }

    .nav-logo-footer{
        width:3em;
        padding-right:0.8em;
        vertical-align: middle;
    }

    .copyright{
        padding-top: 0.5em;
        background-color: var(--couleur3-nominale);
        color: black;
    }


    /*ENTRE 768 et 1200 px*/
    @media screen and (max-width: 1200px){
        h2{
            font-size: calc(var(--h2size)*0.75);
        }
    }
    /*SMALLER THAN 768px*/
    @media screen and (max-width: 768px){
    
        header nav ul li {
            display: block;
            font-size: calc(var( --navlink-fs)*0.80);
        }

        h2{
            font-size: calc(var(--h2size)*0.70);
        }

        .button-1{
            margin: calc(var(--marge-main-but)*0.80)
        }
        footer div ul li{
            text-align:center;
        }

        header nav ul{
            flex-direction: column;
        }
    }